/* Browser Reset ---------------------------------------------- */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}
 body {
   line-height: 1;
}
 ol, ul {
   list-style: none;
}
 blockquote, q {
   quotes: none;
}
 blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none;
}
 table {
   border-collapse: collapse;
   border-spacing: 0;
}
/* ------------------------------------------ */

body {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Georgia', serif;
	line-height: 140%;
}

body > * {
	padding: 1rem;
}

body > header {
	flex-basis: 100%;
	background-color: papayawhip;
}

body > header h1 {
	font-size: 1.5em;
	font-family: 'Comic Sans MS', cursive;
}

body > header h1 span {
	text-decoration: line-through;
}

body > aside {
	flex-basis: 15em;
	background-color: lime;
	position: relative;
}

body > aside p:last-of-type {
	position: absolute;
	bottom: 1rem;
	text-align: center;
}

body > main {
	flex-basis: 30em;
	flex-grow: 1;
	min-height: 100vh;
}

h3 {
	margin-top: 1.5rem;
}

label {
	display: block;
}

input[type=button] {
	margin: 1rem;
}

a[name="google_link"] {
	display: none;
}

a[name="google_link"].active {
	display: inline;
}